@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
  font-size: 14px;
}

.catergory-btn {
  font-weight: bold !important;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  padding: 7px 15px;
  margin: 10px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.catergory-btn:hover {
  background-color: #c44d77;
}

.react-player {
  width: 100% !important;
  height: 70vh !important;
}

.channel-bgColor {
  background: linear-gradient(
    90deg,
    hsla(339, 100%, 55%, 1) 0%,
    hsla(197, 100%, 64%, 1) 100%
  );
}

@media screen and (max-width: 600px) {
  .search-bar {
    width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .category-btn {
    margin-bottom: 30px;
  }
}
